---
import "../globals.css";
import AuthHeader from "@/components/layout/AuthHeader.vue";
import { ClientRouter } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";
import { Toaster } from "@/components/ui/sonner";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Motor</title>
    <ClientRouter />
    <LoadingIndicator color="blue" height="3px" />
  </head>
  <body>
    <Toaster client:idle />
    <div class="min-h-screen bg-gray-50 flex flex-col items-center">
      <!-- Header <AuthHeader />-->
      <AuthHeader />
      <!-- Main Content -->
      <slot />
    </div>
  </body>
</html>
