---
import "../globals.css";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/layout/Header.vue";
import Navigation from "@/components/layout/Navigation.astro";
import LoadingIndicator from "astro-loading-indicator/component";
import { Toaster } from "@/components/ui/sonner";
import CoreService from "@/services/CoreService";

const pathName = Astro.originPathname;

async function getCore() {
  const service = new CoreService();
  try {
    return await service.getAllCore();
  } catch (e) {
    console.error(e);
  }
}
const cores = await getCore();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Motor</title>
    <ClientRouter />
    <LoadingIndicator color="blue" height="3px" />
  </head>
  <body>
    <Toaster client:idle richColors />
    <div class="min-h-screen bg-gray-50">
      <!-- Header -->
      <Header cores={cores} client:load>
        <Navigation slot="navigation" />
      </Header>

      <div class="flex">
        <!-- Main Content -->
        <main class="flex-1">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
