---
import { roleEnum } from "@/enum/roleEnum";
import { hasServerRoles } from "@/utils/auth-server";

function isActiveSection(route: string) {
  return Astro.url.pathname === route;
}
const navigationItems = [
  {
    id: "sancion",
    title: "Sanciones",
    route: "/process/",
    enabled: await hasServerRoles(
      [roleEnum.Cmte, roleEnum.Admin, roleEnum.Gnral],
      Astro.request
    ),
  },
  {
    id: "traslado",
    title: "Traslados",
    route: "/process/trasfer",
    enabled: await hasServerRoles(
      [roleEnum.Cmte, roleEnum.Admin, roleEnum.Gnral],
      Astro.request
    ),
  },
  {
    id: "desactivaciones",
    title: "Desactivaciones",
    route: "/process/deactivation",
    enabled: await hasServerRoles(
      [roleEnum.Cmte, roleEnum.Admin, roleEnum.Gnral],
      Astro.request
    ),
  },
  {
    id: "agreements",
    title: "Acuerdos",
    route: "/process/agreements/",
    enabled: await hasServerRoles(
      [roleEnum.Cmte, roleEnum.Admin, roleEnum.Gnral],
      Astro.request
    ),
  },
];
---

<div class="container mx-auto px-4 py-6 md:px-6 md:py-8">
  <div class="mb-6 flex items-center justify-between">
    <div>
      <h1 class="text-2xl font-bold tracking-tight">
        Procesos del funcionamiento
      </h1>
    </div>
  </div>

  <div class="flex flex-col gap-8 md:flex-row">
    <!-- Barra lateral de navegación -->
    <aside class="w-1/5">
      <nav class="grid gap-2 md:sticky md:top-20">
        {
          navigationItems.map(
            (item) =>
              item.enabled && (
                <a
                  href={item.route}
                  class:list={[
                    "flex items-center gap-3 rounded-md px-3 py-2 text-lg font-medium transition-colors",
                    isActiveSection(item.route)
                      ? "bg-muted text-foreground font-bold pointer-events-none"
                      : "text-muted-foreground hover:bg-muted hover:text-foreground",
                  ]}
                >
                  <span>{item.title}</span>
                </a>
              )
          )
        }
      </nav>
    </aside>

    <!-- Contenido principal -->
    <div class="flex-1 max-w-7xl">
      <slot />
    </div>
  </div>
</div>
