---
import Sidebar from "@/components/Sidebar.vue";
import "../globals.css";
import Dashboard from "@/components/Dashboard.vue";
import RightSidebar from "@/components/RightSidebar.vue";
import Header from "@/components/Header.vue";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Partido de la CUJAE</title>
  </head>
  <body>
    <div class="min-h-screen bg-gray-50">
      <!-- Header -->
      <Header />

      <div class="flex">
        <!-- Left Sidebar -->
        <Sidebar />

        <!-- Main Content -->
        <main class="flex-1">
          <Dashboard />
        </main>

        <!-- Right Sidebar -->
        <RightSidebar />
      </div>
    </div>
  </body>
</html>
